
<% if @basic_info && @basic_info.new_record? %>
  <% path = create_basic_info_path %>
<% else %>
  <% path = update_basic_info_path %>
<% end %>


  <%= simple_form_for(@basic_info, :as => "basic_info", :url=>path, :method => :post, :remote => true , :html => {:multipart => true, :class => "form-horizontal", :autocomplete => "off"}) do |f|  -%>


  <div class="form-inputs" style="margin: 10px 20px;">
    <div class="cl-10"></div>

    <%= f.error_notification %>

    <%= f.input :first_name, :as=>:string, :label =>"First Name", :input_html => {:value => @basic_info.first_name ? @basic_info.first_name : '' }   %>
    <div class="cl-10"></div>
    <%= f.input :last_name, :as=>:string, :label =>"Last Name",  :input_html => {:value => @basic_info.last_name ? @basic_info.last_name : ''} %>
    <div class="cl-10"></div>
    <%= f.input :email, :as=>:string, :label =>"Email",  :input_html => {:value => @basic_info.email ? @basic_info.email : '' } %>
    <div class="cl-10"></div>

    <%= f.input :year, :as => :select , :label =>"Date Of Birth (yyyy)", :collection => (1950..Date.today.year).to_a, :selected => @basic_info.year ? @basic_info.year : '' ,:prompt => "Year", :input_html => { :style=>"width:75px;float:left;"} %>
    <%#*<div style="float:left;margin-left:10px;margin-right:10px;margin-top: 4px;">Year</div>%>
     <div class="cl-10"></div>
    <%= f.input :month, :as => :select , :label =>"Date Of Birth (mm)", :collection => (1..12).to_a, :selected => @basic_info.month ? @basic_info.month : '' ,:prompt => "Month" , :input_html => { :style=>"width:80px;float:left;"} %>
    <%#*<div style="float:left;margin-left:10px;margin-right:10px;margin-top: 4px;">Month</div>%>
   <div class="cl-10"></div>
  <%= f.input :day, :as => :select , :label =>"Date Of Birth (dd)", :collection => (1..30).to_a, :selected => @basic_info.day ? @basic_info.day : '' ,:prompt => "Day" , :input_html => { :style=>"width:70px;float:left;"} %>
    <%#*<div style="float:left;margin-left:10px;margin-top: 4px;">Day</div>%>
    <div class="cl-10"></div>
   <%= f.input :main_address, :as=>:text, :label =>"Address",  :input_html => {:value => @basic_info.main_address ? @basic_info.main_address : '', :style=>"height:100px;" } %>
    <div class="cl-10"></div>
    <%= f.input :phone_number, :as=>:string, :label =>"Phone number",  :input_html => {:value => @basic_info.phone_number ? @basic_info.phone_number : '' } %>
    <div class="cl-10"></div>
     <%= f.input :personal_website, :as=>:string, :label =>"Website",  :hint => "Add full URL 'http://yoursite.com'" , :input_html => {:value => @basic_info.personal_website ? @basic_info.personal_website : ''} %>
    <div class="cl-10"></div>
     <%= f.input :twitter_account, :as=>:string, :label =>"Twitter handle @",  :input_html => {:value => @basic_info.twitter_account ? @basic_info.twitter_account : ''} %>
    <div class="cl-10"></div>
     <%= f.input :public_profile_url, :as=>:string, :label =>"Linkedin Public URL",  :input_html => {:value => @basic_info.public_profile_url ? @basic_info.public_profile_url : ''} %>
    <div class="cl-10"></div>
    <%= f.submit "Save", :class=>"btn btn-info float-right margin-right-5", "data-loading-text"=>"Saving...", :onclick=>"$(this).button('loading');" %>



  <% end %>
</div>
<div class="cl"></div>

