<div class="well" style="height:auto">
  <div class="row-fluid">
    <div class="span3">
      <%= image_tag @user.image,:class=>"img-polaroid",:style=>"width:auto ,height:auto;"%>
    </div>

    <div class="span5" style="width:380px;margin-left:30px;">
      <h2 style="color:#4B4B4B;margin-top: 0px;font-family: 'Arvo-Regular'"><%= @user.name %></h2>
      <% if @linkedin_details && @linkedin_details.headline %><h5 style="color:#4B4B4B"><%= @linkedin_details.headline %></h5><% end %>
        <span style="color: #08C;"><%= current_user.email %></span>
        <div class="cl-3"></div>
      <% if @linkedin_details && @linkedin_details.personal_website %>
        <%= link_to "#{@linkedin_details.personal_website}" , @linkedin_details.personal_website %>
        <div class="cl-3"></div>
      <% end %>
      <% if @linkedin_details && @linkedin_details.twitter_account %>
        <%= link_to "@#{@linkedin_details.twitter_account}" , "http://twitter.com/#{@linkedin_details.twitter_account}"%>
        <div class="cl-3"></div>
      <% end %>
      <% if @linkedin_details && @linkedin_details.public_profile_url %>
        <%= link_to "#{@linkedin_details.public_profile_url}" , @linkedin_details.public_profile_url %>
        <div class="cl-3"></div>
      <% end %>
      <% if @linkedin_details && @linkedin_details.main_address %>
        <p style="color:#4B4B4B;"><%= @linkedin_details.main_address %></p>
        <div class="cl"></div>
      <% end %>
    </div>
    <div class="cl"></div>
  </div>
<div class="cl"></div>
</div>