<div class="well" style="height:auto">
  <div class="row-fluid">
    <div class="span3">
      <%= image_tag @user.image,:class=>"img-polaroid",:style=>"width:auto ,height:auto;"%>
    </div>

    <div class="span5" style="width:380px;margin-left:30px;">
      <h2 style="color:#4B4B4B;margin-top: 0px;"><%= @user.name %></h2>
      <% if @linkedin_details && @linkedin_details.headline %><h5 style="color:#4B4B4B"><%= @linkedin_details.headline %></h5><% end %>
      <% if current_user.basic_info && current_user.basic_info.email %>
        <span style="color: #08C;"><%= current_user.basic_info.email %></span>
        <div class="cl-3"></div>
      <% end %>
      <% if current_user.basic_info && current_user.basic_info.website %>
        <%= link_to "#{current_user.basic_info.website}" , current_user.basic_info.website %>
        <div class="cl-3"></div>
      <% end %>
      <% if current_user.basic_info && current_user.basic_info.twitter_handle %>
        <%= link_to "@ #{current_user.basic_info.twitter_handle}" , "http://twitter.com/#{current_user.basic_info.twitter_handle}"%>
        <div class="cl-3"></div>
      <% end %>
      <% if current_user.basic_info && current_user.basic_info.linkedin_url %>
        <%= link_to "#{current_user.basic_info.linkedin_url}" , current_user.basic_info.linkedin_url %>
        <div class="cl-3"></div>
      <% end %>
      <% if current_user.basic_info && current_user.basic_info.address %>
        <p class="muted"><%= current_user.basic_info.address  %></p>
        <div class="cl"></div>
      <% end %>
    </div>
    <div class="cl"></div>
  </div>
<div class="cl"></div>
</div>