<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div class="row" style="padding-left: 30px;padding-right: 30px;">
<%#*<div style="padding: 10px;background: #fcfcfc">%>
  <div class="well-white span12" style="margin-left: 0px;height:auto;border-color: #898989">
    <% if @user %>
      <div class="span8">

        <%= render :partial => "/users/dashboard/basic_info" %>
        <div class="cl-30"></div>
        <div id="DIV_TECHNOLOGY_DETAILS">
        <%= render :partial => "/users/dashboard/technologies" %>
        </div>
        <div id="DIV_EXPERIENCE_DETAILS">
        <%= render :partial => "/users/dashboard/experience" %>
       </div>
        <div id="DIV_EDUCATION_DETAILS">
        <%= render :partial => "/users/dashboard/education" %>
       </div>

        <div id="DIV_GITHUB_DETAILS">
        <%= render :partial => "/users/dashboard/opensource" %>
        </div>

        <%= render :partial => "/users/dashboard/apps_and_software" %>


        <div class="cl-30"></div>


      </div>
    <% end %>
    <div class="span4" style="margin-right:0px">


      <%= render :partial => "/widgets/import_datas" %>

      <%= render :partial => "/widgets/add_to_cv" %>

      <%= render :partial => "/widgets/create_pdf" %>

    </div>
    <div class="cl"></div>
    <div class="cl"></div>
  </div>

</div>