

<%= simple_form_for(@git_details, :as => "git_details", :url=> update_github_details_path(:id => @git_details.id), :method => :post, :remote => true , :html => {:multipart => true, :class => "form-horizontal", :autocomplete => "off"}) do |f| -%>


  <div class="form-inputs" style="margin: 10px 20px;">
    <div class="cl-5"></div>
    <%= f.error_notification %>
    <div class="cl-5"></div>

    <%= f.input :project_name, :as=>:string, :label =>"Project Name" , :input_html => {:value => @git_details.project_name ? @git_details.project_name :  '' }   %>
    <div class="cl-10"></div>
    <%= f.input :technologies, :as=>:string, :label =>"Technologies" , :input_html => {:value => @git_details.technologies ? @git_details.technologies : '' }   %>
    <div class="cl-10"></div>
    <%= f.input :contribution, :as=>:string, :label =>"Your Contribution", :input_html => {:value => @git_details.contribution ? @git_details.contribution : '' , :style=>"height:100px;" } %>
    <div class="cl-20"></div>
    <%= f.submit "Save", :class=>"btn btn-info float-right margin-right-5", "data-loading-text"=>"Saving...", :onclick=>"$(this).button('loading');" %>

  <% end %>

</div>
<div class="cl"></div>



