<div class="span10" style="font-size:20px;width:920px;margin-left: 10px;margin-right:10px;">
  <% if projects && projects.any? %>
  <div class="classic-box">
      <div class="box-heading" style="margin-left:10px;">Projects</div>
      <div class="cl"></div>
    </div>
    <div class="row-fluid" style="width:670px;float: right;">

      <% projects.each do |project| %>

        <div class="" style="float:left;width: 500px;">
          <% if project.project_name %>
            <div class="cv-heading"><b><%= project.project_name %></b></div>
            <div class="cl-10"></div>
          <% end %>
          <% if project.public_url %>
            <div class="cv-mini-heading"><%= link_to "#{project.public_url}" , project.public_url ,:style=>"color:blue;" %></div>
            <div class="cl-10"></div>
          <% end %>

          <% if project.project_description %>
            <div class="cl-5"></div>
            <div class="cv-description"><%= project.project_description %></div>
          <% end %>
        </div>
      <!--
        <div class="" style="float:right;width: 160px;">
          <div class="cv-date">
            <% if project.created_at && project.updated_at %>
              <div><%= project.created_at.strftime('%b %Y')  %> to <%= project.updated_at.strftime('%b %Y')  %></div>
            <% end %>
          </div>
        </div>
      -->
        <div class="cl-30"></div>
      <% end %>
    </div>
  <% end %>
  <div class="cl"></div>
</div>