
<% if @education && @education.new_record? %>
  <% path = create_education_path %>
<% else %>
  <% path = update_education_path(:id=>@education.id) %>
<% end %>


<%= simple_form_for(@education, :as => "education", :url=>path, :method => :post, :remote => true , :html => {:multipart => true, :class => "form-horizontal", :style=>"text-align:left;", :autocomplete => "off"}) do |f|  -%>

  <div class="form-inputs" style="margin: 10px 20px;">
    <div class="cl-5"></div>
  <%= f.error_notification %>
    <div class="cl-5"></div>

     
  <%= f.input :degree, :as=>:string, :input_html => {:value => @education.degree ? @education.degree : '' }   %>
   <div class="cl-10"></div>
  <%= f.input :field_of_study, :as=>:string, :label =>"Field of Study",  :input_html => {:value => @education.field_of_study ? @education.field_of_study : ''} %>
   <div class="cl-10"></div>
  <%= f.input :school_name, :as=>:string, :label =>"School Name",  :input_html => {:value => @education.school_name ? @education.school_name : '' } %>
   <div class="cl-10"></div>
  <%= f.input :start_date, :as => :select , :label =>"Start Date", :collection => (1950..Date.today.year).to_a, :selected => @education.start_date ? @education.start_date : '' ,:prompt => "Please Select" %>
   <div class="cl-10"></div>
  <%= f.input :end_date, :as => :select, :label =>"End Date", :collection => (1950..Date.today.year).to_a , :selected => @education.end_date ? @education.end_date : '',:prompt => "Please Select" %>

  <%= f.submit "Save", :class=>"btn btn-info float-right margin-right-5", "data-loading-text"=>"Saving...", :onclick=>"$(this).button('loading');" %>
    
  <% end %>

  </div>
  <div class="cl"></div>

 