<div class="sidebar-container" style="min-height:200px;;background-color: white;">
  <div class="header">
    <p style="text-align:center;font-size: 18px;padding-top: 5px">Add to Your CV</p>
  </div>
  <ul class="nav nav-tabs nav-stacked">
    <li><%= link_to("Basic Information"  , edit_basic_info_path , :remote => true) %></li>
    <li><%= link_to("Technologies"  , edit_technologies_path , :remote => true) %></li>
    <li><%= link_to("Experience"  , new_position_path , :remote => true) %></li>
    <li><%= link_to("Education"  , new_education_path , :remote => true) %></li>
    <li><%= link_to("Projects"  , new_projects_path , :remote => true) %></li>
  </ul>
</div>