<div class="span10" style="font-size:20px;width:920px;margin-left: 10px;margin-right:10px;">
  <% if education_details && education_details.any? %>
    <h3>Education</h3>
    <div class="row-fluid">
      <% education_details.each do |edu| %>

        <div class="" style="float:left;width: 650px;">
          <% if edu.degree %>
            <div style="font-size: 21px;font-weight: bold;"><%= edu.degree %></div>
            <div class="cl-10"></div>
          <% end %>
          <% if edu.field_of_study %>
            <div class="cl"></div>
            <div style="font-style: italic;float: left;"><%= edu.field_of_study %></div>
            <div class="cl-5"></div>
          <% end %>
          <% if edu.school_name %>
            <div class="cl-5"></div>
            <div style="font-size: 18px;font-style: italic;"><%= edu.school_name %> School/College </div>
          <% end %>
        </div>
        <div class="" style="float:right;width: 250px;">
          <div style="float:right;">
            <% if edu.start_date && edu.end_date %>
              <div><%= edu.start_date %> to <%= edu.end_date %></div>
            <% end %>
          </div>
        </div>
        <div class="cl-20"></div>
      <% end %>
    </div>
  <% end %>
  <div class="cl"></div>
</div>
