<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon"  href="/assets/favicon.ico" />
  <title>Cv Builder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body background="/assets/back.jpg" style="margin: 0;">
<div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/"><span style="color:#fff">CV </span><span style="color:#0094BD;"> Builder</span></a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "About" , about_path %></li>
            <% if user_signed_in? %>
             <li style="float:right;font-weight: bold;"><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

<div class="" style="width:100%;">
  <div class="container" >
    <div class="row-fluid">
      
      <div class="span12 ">
        <%= yield %>
      </div>
    </div>
  </div>
  </div>

  
  

 <div class="footer">
      <div class="container" >
        <div class="row-fluid">
          <div class="span12 " style="margin-top:50px;">
            <div class="span4">
            <p style="float:left;margin-left: 50px;margin-top: 35px;font-family: 'Arvo-Regular';">
              All rights reserved &copy;sreeharikmarar</p>
            </div>
            <div class="span4" style="float:left;border-left: 1px solid #fff;height:100px;">
               <div style="text-align:center;font-size: 18px;font-family: 'Arvo-Regular';">Follow </div>
               <div align="center">
                 <div class="cl-20"></div>
                 <div class="cl-20"></div>
              <a href="https://www.facebook.com/sreehari.kmarar"><img src="/assets/icons/facebook.png" style="margin-left: 10px;"></img></a>
               <a href="http://www.linkedin.com/pub/sreehari-k-m/44/717/559"><img src="/assets/icons/linkedin.png" style="margin-left: 10px;"></img></a>
               <a href="ht"><img src="/assets/icons/twitter.png" style="margin-left: 10px;"></img></a>
               </div>
            </div>
            <div class="span4" style="float:left;border-left: 1px solid #fff;height:100px;">
              <div style="font-size: 18px;font-family: 'Arvo-Regular';text-align: center;">Contact</div>
              <div class="cl-20"></div>
              <div class="cl-20"></div>
              <div style="font-size: 14px;margin-left: 65px;">
                <img src="/assets/icons/ph.png" style="float:left;"></img>
                <div style="float:left;margin-left: 5px;">+91-888-492-7884</div>
                <div class="cl-10"></div>
                <img src="/assets/icons/email.png" style="float:left;margin-left: 2px;margin-top: 5px;"></img>
                <div style="float:left;margin-left: 11px;">sreeharikmarar@gmail.com</div>
              </div>
            </div>
          </div>

        </div>
      </div>
        <div class="cl-40"></div>
    </div>
	<!-- Lightbox and Commaon Scripts -->
    <%= render :partial=>"/layouts/common_scripts" %>
     <%= render :partial=>"/layouts/notifications/display_growl_messages" %>
    <%= render :partial=>"/layouts/lightbox/main" %>
  
</body>
</html>
