<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon"  href="/assets/favicon.ico" />
  <title>CvBuilder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#"><span style="color:#4b4b4b">Cv </span><span style="color:#0094BD;"> Builder</span></a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "About" %></li>
            <li><%= link_to "API" %></li>
            <li><%= link_to "Contact Us" %></li>
            <% if user_signed_in? %>
           <%#*<ul class="nav" style="float:right;">%>
             <li style="float:right;"><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
           <%#*</ul>%>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

<div class="blue-fade" style="width:100%;">
  <div class="container " style="padding-top:50px;min-height: 500px;">
    <div class="row-fluid">
      
      <div class="span12 ">
        <%= yield %>
      </div>
    </div>
  </div>
  </div>

  
  <div class="info" style="width:100%;">
  <div class="container " style="min-height:70px">
    <div class="row-fluid">

      <div class="span12 ">
        <div class="box span4" style="float:left;">
          <h5 style="text-align:center">My recent Activities</h5>
        </div>
        <div class="box span4" style="float:left;">
          <h5 style="text-align:center">Follow me </h5>
        </div>
        <div class="box span4" style="float:left;">
          <h5 style="text-align:center">My blog</h5>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="footer" style="width:100%;">
  <div class="container " style="min-height:100px">
    <div class="row-fluid">

      <div class="span12 " style="margin-top:20px;">
        <p style="text-align: center;">All rights reserved &copy; sreeharikmarar</p>
      </div>
    </div>
  </div>
  </div>

	<!-- Lightbox and Commaon Scripts -->
    <%= render :partial=>"/layouts/common_scripts" %>
    <%= render :partial=>"/layouts/lightbox/main" %>
  
</body>
</html>
